<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">
    <title>Unicase</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/green.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.transitions.css">
    <!--<link rel="stylesheet" href="/assets/css/owl.theme.css">-->
    <link href="/assets/css/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/rateit.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
    <!-- Demo Purpose Only. Should be removed in production -->
    <link rel="stylesheet" href="/assets/css/config.css">
    <link href="/assets/css/green.css" rel="alternate stylesheet" title="Green color">
    <link href="/assets/css/blue.css" rel="alternate stylesheet" title="Blue color">
    <link href="/assets/css/red.css" rel="alternate stylesheet" title="Red color">
    <link href="/assets/css/orange.css" rel="alternate stylesheet" title="Orange color">
    <link href="/assets/css/dark-green.css" rel="alternate stylesheet" title="Darkgreen color">
    <!-- Demo Purpose Only. Should be removed in production : END -->
    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Content/paymentInfor/paymentInfo.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <title>Unicase</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/wishList.css">
    <!-- Customizable CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/green.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.transitions.css">
    <!--<link rel="stylesheet" href="/~/assets/css/owl.theme.css">-->
    @*<link href="~/assets/css/lightbox.css" rel="stylesheet">*@
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/rateit.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/Content/myAccount/myaccount.css">

    <!-- Demo Purpose Only. Should be removed in production -->
    <link rel="stylesheet" href="/assets/css/config.css">

    <link href="/assets/css/green.css" rel="alternate stylesheet" title="Green color">
    <link href="/assets/css/blue.css" rel="alternate stylesheet" title="Blue color">
    <link href="/assets/css/red.css" rel="alternate stylesheet" title="Red color">
    <link href="/assets/css/orange.css" rel="alternate stylesheet" title="Orange color">
    <link href="/assets/css/dark-green.css" rel="alternate stylesheet" title="Darkgreen color">
    <!-- Demo Purpose Only. Should be removed in production : END -->
    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="stylesheet" href="/Content/checkout/checkout.css">

    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
            <script src="/assets/js/html5shiv.js"></script>
            <script src="/assets/js/respond.min.js"></script>
        <![endif]-->
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
    <script src="/assets/js/template7.min.js"></script>

    <script>

            const SHOPPING_CART = "SHOPPING_CART";

            function saveListProduct(listProduct) {
                window.localStorage.setItem(SHOPPING_CART, JSON.stringify(listProduct));
            }

            function getListProduct() {
                var listProduct = window.localStorage.getItem(SHOPPING_CART);
                return JSON.parse(listProduct);
            }

            function isNullOrUndefined(obj) {
                return (obj == null || obj == undefined);
            }

            function addProduct(product) {
                var listProduct = getListProduct();

                if (isNullOrUndefined(listProduct)) {
                    listProduct = [];
                }

                var isDuplicated = false;
                for (var i = 0; i < listProduct.length; i++) {
                    var currentProduct = listProduct[i];
                    if (currentProduct.id == product.id) {
                        currentQuantity = parseInt(currentProduct.quantity);
                        currentProduct.quantity = currentQuantity + parseInt(product.quantity);
                        isDuplicated = true;
                        break;
                    }
                }

                if (!isDuplicated) {
                    listProduct.push(product);
                }

                saveListProduct(listProduct);
            }

            function updateProductQuantity(product) {
                var listProduct = getListProduct();

                if (isNullOrUndefined(listProduct)) {
                    listProduct = [];
                }

                var isDuplicated = false;
                for (var i = 0; i < listProduct.length; i++) {
                    var currentProduct = listProduct[i];
                    if (currentProduct.id == product.id) {
                        currentProduct.quantity = parseInt(product.quantity);
                        break;
                    }
                }

                saveListProduct(listProduct);
            }

            function removeProduct(id) {
                var listProduct = getListProduct();

                if (isNullOrUndefined(listProduct)) {
                    return;
                }

                var index = getIndexOfItemByID(listProduct, id);

                if (index != -1) {
                    listProduct.splice(index, 1);
                    saveListProduct(listProduct);
                }

            }

            function getIndexOfItemByID(lstItemInCart, id) {
                for (var i = 0; i < lstItemInCart.length; i++) {
                    if (lstItemInCart[i].id == id) {
                        return i;
                    }
                }
                return -1;
            }

            function getTotalPrice(listProduct) {
                var grandPrice = 0;
                for (var i = 0; i < listProduct.length; i++) {
                    var currentProduct = listProduct[i];
                    var currentGrandPrice = currentProduct.quantity * currentProduct.price;
                    grandPrice += currentGrandPrice;
                }
                return grandPrice;
            }

            function updateListProductBadge() {
                var listProduct = getListProduct();
                if (!isNullOrUndefined(listProduct)) {
                    $("#navNumberOfProduct").text(listProduct.length);
                    $("#navTotalPrice").text(getTotalPrice(listProduct));
                }
            }

    </script>
</head>
<body>
    <!-- ============================================== HEADER ============================================== -->
    <header class="header-style-1 header-style-3">
        <div class="top-bar animate-dropdown">
            <div class="container">
                <div class="header-top-inner">
                    <div class="cnt-account">
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index","MyAccount")"><i class="icon fa fa-user"></i>My Account</a></li>
                            <li><a href="@Url.Action("Index","MyCart")"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
                            <li><a href="@Url.Action("Index","CheckOut")"><i class="icon fa fa-key"></i>Checkout</a></li>
                            <li><a href="@Url.Action("Index","Login")"><i class="icon fa fa-sign-in"></i>Login</a></li>
                        </ul>
                    </div>
                    <!-- /.cnt-account -->

                    <!-- /.cnt-cart -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.header-top-inner -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.header-top -->
        <!-- ============================================== TOP MENU : END ============================================== -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                        <!-- ============================================================= LOGO ============================================================= -->
                        <div class="logo">
                            <a href="@Url.Action("Index","Home")">

                                <img src="/assets/images/logo.png" alt="logo">

                            </a>
                        </div>
                        <!-- /.logo -->
                        <!-- ============================================================= LOGO : END ============================================================= -->
                    </div>
                    <!-- /.logo-holder -->

                    <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder">
                        <div class="contact-row">
                            <div class="phone inline">
                                <i class="icon fa fa-phone"></i> 0985880639
                            </div>
                            <div class="contact inline">
                                <i class="icon fa fa-envelope"></i> hanoicomputer@gmail.com
                            </div>
                        </div>
                        <!-- /.contact-row -->
                        <!-- ============================================================= SEARCH AREA ============================================================= -->
                        <div class="search-area">
                            <form>
                                <div class="control-group">

                                    <ul class="categories-filter animate-dropdown">
                                        <li class="dropdown">

                                            <a class="dropdown-toggle" data-toggle="dropdown" href="category.html">Categories <b class="caret"></b></a>

                                            <ul class="dropdown-menu" role="menu">
                                                <li class="menu-header">Computer</li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Laptops</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Tv & audio</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Gadgets</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Cameras</a></li>

                                            </ul>
                                        </li>
                                    </ul>

                                    <input class="search-field" type="text" placeholder="Search here..." id="productName" />

                                    <a class="search-button" href="#"></a>

                                </div>
                            </form>
                        </div>
                        <!-- /.search-area -->
                        <!-- ============================================================= SEARCH AREA : END ============================================================= -->
                    </div>
                    <!-- /.top-search-holder -->

                    <div class="col-xs-12 col-sm-12 col-md-3 animate-dropdown top-cart-row">
                        <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

                        <div class="dropdown dropdown-cart">
                            <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
                                <div class="items-cart-inner">
                                    <div class="total-price-basket">
                                        <span class="lbl">cart -</span>
                                        <span class="total-price">
                                            <span id="navTotalPrice" class="value">0.0</span>
                                            <span class="sign">VND</span>
                                        </span>
                                    </div>
                                    <div class="basket">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>
                                    </div>
                                    <div class="basket-item-count"><span id="navNumberOfProduct" class="count">0</span></div>

                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="cart-item product-summary">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="image">
                                                    <a href="detail.html"><img src="/assets/images/cart.jpg" alt=""></a>
                                                </div>
                                            </div>
                                            <div class="col-xs-7">

                                                <h3 class="name"><a href="index.php?page-detail">Simple Product</a></h3>
                                                <div class="price">$600.00</div>
                                            </div>
                                            <div class="col-xs-1 action">
                                                <a href="#"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.cart-item -->
                                    <div class="clearfix"></div>
                                    <hr>

                                    <div class="clearfix cart-total">
                                        <div class="pull-right">

                                            <span class="text">Sub Total :</span><span class='price'>$600.00</span>

                                        </div>
                                        <div class="clearfix"></div>

                                        <a href="@Url.Action("Index","CheckOut")" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a>
                                    </div>
                                    <!-- /.cart-total-->


                                </li>
                            </ul>
                            <!-- /.dropdown-menu-->
                        </div>
                        <!-- /.dropdown-cart -->
                        <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
                    </div>
                    <!-- /.top-cart-row -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.main-header -->
        <!-- ============================================== NAVBAR ============================================== -->
        <div class="header-nav animate-dropdown">
            <div class="container">
                <div class="yamm navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    @{ Html.RenderAction("_HeaderNavBar", "Home"); }
                    <!-- /.nav-bg-class -->
                </div>
                <!-- /.navbar-default -->
            </div>
            <!-- /.container-class -->

        </div>
        <!-- /.header-nav -->
    </header>

        <!-- ============================================== HEADER : END ============================================== -->
        <!-- ============================================== MAIN ============================================== -->
        <div class="body-content" id="top-banner-and-menu">
            @RenderSection("main")

        </div>
        <!-- ============================================== MAIN:END ============================================== -->
        <!-- ============================================================= FOOTER ============================================================= -->
    <footer id="footer" class="footer color-bg">
        <div class="links-social inner-top-sm">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <!-- ============================================================= CONTACT INFO ============================================================= -->
                        <div class="contact-info">
                            <div class="footer-logo">
                                <div class="logo">
                                    <a href="home.html">

                                        <img src="/assets/images/logo.png" alt="">

                                    </a>
                                </div>
                                <!-- /.logo -->

                            </div>
                            <!-- /.footer-logo -->

                            <div class="module-body m-t-20">
                                <p class="about-us"> Nam libero tempore, cum soluta nobis est ses eligendi optio cumque cum soluta nobis est ses eligendi optio cumque.</p>

                                <div class="social-icons">

                                    <a href="https://www.facebook.com/profile.php?id=100008779652609" class='active'><i class="icon fa fa-facebook"></i></a>
                                    <a href="#"><i class="icon fa fa-twitter"></i></a>
                                    <a href="#"><i class="icon fa fa-linkedin"></i></a>
                                    <a href="#"><i class="icon fa fa-rss"></i></a>
                                    <a href="#"><i class="icon fa fa-pinterest"></i></a>

                                </div>
                                <!-- /.social-icons -->
                            </div>
                            <!-- /.module-body -->

                        </div>
                        <!-- /.contact-info -->
                        <!-- ============================================================= CONTACT INFO : END ============================================================= -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <!-- ============================================================= CONTACT TIMING============================================================= -->
                        <div class="contact-timing">
                            <div class="module-heading">
                                <h4 class="module-title">opening time</h4>
                            </div>
                            <!-- /.module-heading -->

                            <div class="module-body outer-top-xs">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Monday-Friday:</td>
                                                <td class="pull-right">08.00 To 18.00</td>
                                            </tr>
                                            <tr>
                                                <td>Saturday:</td>
                                                <td class="pull-right">09.00 To 20.00</td>
                                            </tr>
                                            <tr>
                                                <td>Sunday:</td>
                                                <td class="pull-right">10.00 To 20.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                                <p class='contact-number'>Hot Line:0985880639</p>
                            </div>
                            <!-- /.module-body -->
                        </div>
                        <!-- /.contact-timing -->
                        <!-- ============================================================= CONTACT TIMING : END ============================================================= -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <!-- ============================================================= LATEST TWEET============================================================= -->
                        <div class="latest-tweet">
                            <div class="module-heading">
                                <h4 class="module-title">latest tweet</h4>
                            </div>
                            <!-- /.module-heading -->

                            <div class="module-body outer-top-xs">
                                <div class="re-twitter">
                                    <div class="comment media">
                                        <div class='pull-left'>
                                            <span class="icon fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <a href="#"></a> As a result of your previous recommendation :)
                                            <span class="time">
                                                12 hours ago
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="re-twitter">
                                    <div class="comment media">
                                        <div class='pull-left'>
                                            <span class="icon fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <a href="#"></a> As a result of your previous recommendation :)
                                            <span class="time">
                                                12 hours ago
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.module-body -->
                        </div>
                        <!-- /.contact-timing -->
                        <!-- ============================================================= LATEST TWEET : END ============================================================= -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <!-- ============================================================= INFORMATION============================================================= -->
                        <div class="contact-information">
                            <div class="module-heading">
                                <h4 class="module-title">information</h4>
                            </div>
                            <!-- /.module-heading -->

                            <div class="module-body outer-top-xs">
                                <ul class="toggle-footer" style="">
                                    <li class="media">
                                        <div class="pull-left">
                                            <span class="icon fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <p>Hà Nội</p>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="pull-left">
                                            <span class="icon fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <p>Hot line: 0985880639<br>Hot line: 01668533966</p>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="pull-left">
                                            <span class="icon fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <span><a href="#">Contact</a></span><br>
                                            <span><a href="#">Sale</a></span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <!-- /.module-body -->
                        </div>
                        <!-- /.contact-timing -->
                        <!-- ============================================================= INFORMATION : END ============================================================= -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.links-social -->

        <div class="footer-bottom inner-bottom-sm">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading outer-bottom-xs">
                            <h4 class="module-title">category</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Libero Sed rhoncus</a></li>
                                <li><a href="#">Venenatis augue tellus</a></li>
                                <li><a href="#">My Vouchers</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading outer-bottom-xs">
                            <h4 class="module-title">my account</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Site Map</a></li>
                                <li><a href="#">Search Terms</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading outer-bottom-xs">
                            <h4 class="module-title">our services</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Libero Sed rhoncus</a></li>
                                <li><a href="#">Venenatis augue tellus</a></li>
                                <li><a href="#">My Vouchers</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading outer-bottom-xs">
                            <h4 class="module-title">help & support</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li><a href="#">Knowledgebase</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Contact Support</a></li>
                                <li><a href="#">Marketplace Blog</a></li>
                                <li><a href="#">About Unicase</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-bar">
            <div class="container">
                <div class="col-xs-12 col-sm-6 no-padding">
                    <div class="copyright">
                        Copyright © 2014
                        <a href="home.html">Unicase Shop.</a> - All rights Reserved
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 no-padding">
                    <div class="clearfix payment-methods">
                        <ul>
                            <li><img src="/assets/images/payments/1.png" alt=""></li>
                            <li><img src="/assets/images/payments/2.png" alt=""></li>
                            <li><img src="/assets/images/payments/3.png" alt=""></li>
                            <li><img src="/assets/images/payments/4.png" alt=""></li>
                            <li><img src="/assets/images/payments/5.png" alt=""></li>
                        </ul>
                    </div>
                    <!-- /.payment-methods -->
                </div>
            </div>
        </div>
    </footer>

    <!-- ============================================================= FOOTER : END============================================================= -->

        <script src="/assets/js/bootstrap.min.js"></script>

        <script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
        @*<script src="/assets/js/owl.carousel.min.js"></script>*@
        <script src="/assets/js/echo.min.js"></script>
        <script src="/assets/js/jquery.easing-1.3.min.js"></script>
        <script src="/assets/js/bootstrap-slider.min.js"></script>
        <script src="/assets/js/jquery.rateit.min.js"></script>
        @*<script type="text/javascript" src="~/assets/js/lightbox.min.js"></script>*@
        <script src="/assets/js/bootstrap-select.min.js"></script>
        <script src="/assets/js/wow.min.js"></script>
        <script src="/assets/js/scripts.js"></script>
        <script src="/Scripts/showDeailsProduct.js"></script>
        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
        <!-- If you're using Stripe for payments -->
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script src="/assets/js/echo.min.js"></script>
        <script src="/assets/js/jquery.easing-1.3.min.js"></script>
        <script src="/assets/js/bootstrap-slider.min.js"></script>
        <script src="/assets/js/jquery.rateit.min.js"></script>
        @*<script type="text/javascript" src="assets/js/lightbox.min.js"></script>*@
        <script src="/switchstylesheet/switchstylesheet.js"></script>
        <script src="/assets/js/bootstrap-select.min.js"></script>
        <script src="/assets/js/wow.min.js"></script>
        <script src="/assets/js/scripts.js"></script>
        <script src="/Content/checkout/CheckOut.js"></script>
        <script type="text/javascript">
            updateListProductBadge();
        </script>
</body>
</html>
